/*____________________ header ______________________*/

#container header {
  min-height: calc(100vh - 20px);
  background: url(../images/hero_img.webp) no-repeat center center/cover;
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
  border-bottom: 2px solid  var(--primary-color);
}

#container header #hero .hero_content {
  flex-basis: 60%;
  background-color: rgb(240 255 255 / 65%);
  padding: 5px 20px 40px;
  max-width: 700px;
  border-radius: 20px;
  border: 3px solid var(--primary-color);
  z-index: 5;
}

#container header #hero  .hero_content h1 {
  font-size: 30px;
  color: var(--font-color-primary);
  margin-bottom: 30px;
  text-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #ffffff;
}

#container header #hero  .hero_content h1 span {
  text-underline-offset: 7px;
  letter-spacing: 1.6px;
  animation: show_underline .3s ease 3s forwards;
}

@keyframes show_underline {
  from {text-decoration: underline solid var(--primary-color) 0px;}
  to {text-decoration: underline solid var(--primary-color) 4px;}
}

#container header #hero .hero_content p {
  color: var(--font-color-primary);
  font-weight: 700;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 0.8px;
}

#container header #hero .hero_content a {
  position: relative;
}

#container header #hero .hero_content a svg {
  position: absolute;
  top: 48%;
  left: 16px;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
}
#container header #hero  .hero_content a:hover svg {
  filter: contrast(2) drop-shadow(2px 2px 1px yellow) sepia(80%) saturate(300%);
}

#container header #hero  .hero_image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  user-select: none;
  z-index: 5;
}

#container header #hero .hero_image img {
  position: relative;
  height: 300px;
  margin: auto;
  transition: all 0.3s ease;
  filter: drop-shadow(5px 8px 6px var(--accent-color)) 
          drop-shadow(-5px -8px 6px var(--accent-color)) 
          contrast(1.2);
  animation: opacity_trophy 5s ease-in-out;
}

@keyframes opacity_trophy {
  0% {opacity: 0%;}
  100% {opacity:100%;}
}

.arrow_down_box {
  position: relative;
  display: flex;
  justify-content: center;
}

.arrow_down {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  animation: shake 1s infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateY(0px)
  }
  75% {
    transform: translateY(10px)
  }
}

.arrow_down svg {
  background-color: #b99309;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 0px rgba(1,1,1,0.3);
  opacity: 1;
  cursor: pointer;
}

.arrow_down::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #dfb00a;
  border-radius: 50%;
  opacity: .7;
  animation: arrow_pulse 5s infinite;
}

@keyframes arrow_pulse {
  0% {
    width: 40px;
    height: 40px;
  }
  80% {
    width: 70px;
    height: 70px;
  }
  100% {
    opacity: 0;
  } 
}

/*____________________ main ______________________*/

  /* -<<< gallery section >>>- */
 
main #gallery_section {
  padding: 120px 0 0;
  text-align: center;
}

main .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  margin: 0 auto;
  gap: 0;
}

main .gallery-container .gallery-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  min-height: 250px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main .gallery-container .gallery-item img {
  background-color: transparent;
  opacity: 1;
  transition: all 1.5s ease-in-out;
}
main .gallery-container .gallery-item:hover img,
main .gallery-container .gallery-item:focus img {
  opacity: 0;
}
main .gallery-container .gallery-item:hover div,
main .gallery-container .gallery-item:focus div { 
  opacity: 1;
}

main .gallery-container .gallery-item div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

main .gallery-container .gallery-item div p {
  font-style: italic;
}

  /* -<<< facts section >>>- */
  
main #facts_section {
  position: relative;
  padding: 120px 0;
}

main .facts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto 50px;
  padding: 0;
  gap: 0;
}

main .facts-container >  li {
  background-color: var(--bkg-primary);
  width: 180px;
  min-width: 180px;
  height: 180px;
  text-align: justify;
  border: 4px solid var(--secondary-color);
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

main .facts-container >  li h2 {
  color: aliceblue;
  background-color: var(--bkg-secondary);
  text-shadow: 0 0 6px rgba(0, 0, 0, 1);
  
}

main .facts-container >  li p {
  text-align: center !important;
  font-weight: 300;
  text-overflow: ellipsis;
   text-shadow: 0 0 6px rgba(255, 255, 0, 0.5);
}

/*____________________ mobile ______________________*/

@media (max-width: 767px) {

  #container header #hero .hero_content {
    position: relative;
    flex-basis: 90%;
    max-width: 700px;
  }

  #container header #hero .hero_content::after {
    position: absolute;
    content: "";
    bottom:  -10%;
    right: 20px;
    width: 40px;
    height: 110px;
    background: url(../images/trophy.png) no-repeat center center / 40px auto;
    filter: drop-shadow(-5px -5px 0 rgba(0, 0, 0, 0.3));
    z-index: 10;
  }

  #container header #hero  .hero_image {
    display: none;
  }

}

@media (hover: hover) and (pointer: fine) {
  main .gallery-container .gallery-item:hover img {
    opacity: 0;
  }
  main .gallery-container .gallery-item:hover div { 
    opacity: 1;
  }
}
 
@media (hover: none) and (pointer: coarse) {
  main .gallery-container .gallery-item:focus img {
    opacity: 0;
  }
  main .gallery-container .gallery-item:focus div { 
    opacity: 1;
  }
}
