@font-face {
  font-family: "MDPrimerTest-Black";
  src: url("../fonts/MDPrimerTest-Black.otf");
  font-display: swap;
}


/*____________________ header ______________________*/

#container header {
  position: relative;
  background: url(../images/hero_img.webp) no-repeat center center/cover;
  height: fit-content !important;
  border-bottom: 2px solid  var(--primary-color);
}

#container header::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  right:  50%;
  transform: translateX(-50%);
  background: var(--bkg-primary);
  width: calc(100vw - 100px);
  min-width: calc(100vw - 100px);
  height: 55px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 7;
  border-left: 2px solid  var(--primary-color);
  border-top: 2px solid  var(--primary-color);
  border-right: 2px solid var(--primary-color);
}

#container header::before {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  right:  50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  background: url('../images/players.png') repeat-x center center / contain;
  filter: drop-shadow(3px 3px 2px rgb(175 156 33 / 100%))
          drop-shadow(3px 3px 4px rgb(175 156 33 / 80%)) 
          drop-shadow(5px 5px 5px rgb(0 0 0 / 30%)) 
          saturate(120%) grayscale(50%);
  width: calc(100vw - 120px);
  min-width: calc(100vw - 120px);
  height: 55px;
  z-index: 8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle,rgba(0, 4, 255, 0.1) 50%,
               rgb(0, 0, 0) 90%);
  opacity: 1;
}

#container header #hero .hero_content {
  padding: 5px 20px 40px;
  max-width: 700px;
  border-radius: 20px;
  z-index: 5;
}

#container header #hero .hero_content h1 {
  font-family: "MDPrimerTest-Black";
  font-size: clamp(24px, 10vw, 130px);
  color: var(--bkg-primary);
  margin: 0;
  word-wrap: normal;
  text-shadow: 0 4px 0px rgba(0,0,0,.5), 0 6px 0px rgba(255, 196, 0, 0.5);
}


/*____________________ main ______________________*/

main {
  position: relative;
  padding: 50px 0 120px;
}

main #timeline_section {
  margin: auto;
}

    /* -<<< intro >>>- */

main .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 25px;
  user-select: auto;
}

main .intro .intro_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  margin: 0;
  width: fit-content;
  gap: 5px;
  user-select: auto;
}

main .intro span {
  position: relative;
  font-family: "Nunito","MDPrimerTest-Black";
  font-size: clamp(24px, 7vw, 65px);
  padding: 3px 3px;
  margin: 0;
  word-wrap: normal;
  color: var(--bkg-primary);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #618e71;
  border-top: 2px solid #618e71;
  text-shadow: 3px 1px 3px #052915;
  z-index: 10;
}

main .intro span:first-of-type {
  border-left: 2px solid #618e71;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

main .intro span:last-of-type {
  border-right: 2px solid #618e71;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

main .intro span:after {
  position: absolute;
  content: attr(data-talal);
  top: .15em;
  left: .15em;
  z-index: -1;
  text-shadow: none;
  background-size: .05em .05em;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
  background-image: linear-gradient(
                  45deg, transparent 45%, 
                  hsl(0deg 0% 0%) 45%, 
                  hsl(0deg 0% 0%) 55%, 
                  transparent 0);
}

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}

main .intro span:first-of-type:before {
  position: absolute;
  content: "FIFA";
  top: -15px;
  left: 0;
  font-family: "Merriweather", serif;
  font-size: 10px;
  font-weight: 500;
  color: white;
  text-shadow: none;
  width: fit-content;
  height: fit-content;
  background-color: #618e71;
  padding: 1px 6px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
}

main .intro img {
  width: 60px;
  aspect-ratio: 1/2.5;
  z-index: 10;
}


/*  ____________________ mobile ______________________ */

@media (max-width: 767px) {
  main .intro img {
    width: 40px;
  }
}



@media (max-width: 484px) {
  main .intro img {
    width: 30px;
  }
}