@font-face {
  font-family: "MDPrimerTest-Black";
  src: url("../fonts/MDPrimerTest-Black.otf");
  font-display: swap;
}


/*____________________ header ______________________*/

#container header {
  position: relative;
  background: url(../images/hero_img.webp) no-repeat center center/cover;
  height: fit-content !important;
  border-bottom: 2px solid  var(--primary-color);
}

#container header::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  right:  50%;
  transform: translateX(-50%);
  background: var(--bkg-primary);
  width: calc(100vw - 100px);
  min-width: calc(100vw - 100px);
  height: 55px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 7;
  border-left: 2px solid  var(--primary-color);
  border-top: 2px solid  var(--primary-color);
  border-right: 2px solid var(--primary-color);
}

#container header::before {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  right:  50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  background: url('../images/players.png') repeat-x center center / contain;
  filter: drop-shadow(3px 3px 2px rgb(175 156 33 / 100%))
          drop-shadow(3px 3px 4px rgb(175 156 33 / 80%)) 
          drop-shadow(5px 5px 5px rgb(0 0 0 / 30%)) 
          saturate(120%) grayscale(50%);
  width: calc(100vw - 120px);
  min-width: calc(100vw - 120px);
  height: 55px;
  z-index: 8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle,rgba(0, 4, 255, 0.1) 50%,
               rgb(0, 0, 0) 90%);
  opacity: 1;
}

#container header #hero .hero_content {
  padding: 5px 20px 40px;
  max-width: 700px;
  border-radius: 20px;
  z-index: 5;
}

#container header #hero .hero_content h1 {
  font-family: "MDPrimerTest-Black";
  font-size: clamp(24px, 10vw, 130px);
  color: var(--bkg-primary);
  margin: 0;
  word-wrap: normal;
  text-shadow: 0 4px 0px rgba(0,0,0,.5), 0 6px 0px rgba(255, 196, 0, 0.5);
}


/*____________________ main ______________________*/

main {
  position: relative;
  padding: 50px 0 120px;
}

main #timeline_section {
  margin: auto;
}

    /* -<<< intro >>>- */

main .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 25px;
  user-select: auto;
}

main .intro .intro_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  margin: 0;
  width: fit-content;
  gap: 5px;
  user-select: auto;
}

main .intro span {
  position: relative;
  font-family: "Nunito","MDPrimerTest-Black";
  font-size: clamp(24px, 7vw, 65px);
  padding: 3px 3px;
  margin: 0;
  word-wrap: normal;
  color: var(--bkg-primary);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #618e71;
  border-top: 2px solid #618e71;
  text-shadow: 3px 1px 3px #052915;
  z-index: 10;
}

main .intro span:first-of-type {
  border-left: 2px solid #618e71;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

main .intro span:last-of-type {
  border-right: 2px solid #618e71;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

main .intro span:after {
  position: absolute;
  content: attr(data-talal);
  top: .15em;
  left: .15em;
  z-index: -1;
  text-shadow: none;
  background-size: .05em .05em;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
  background-image: linear-gradient(
                  45deg, transparent 45%, 
                  hsl(0deg 0% 0%) 45%, 
                  hsl(0deg 0% 0%) 55%, 
                  transparent 0);
}

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}

main .intro span:first-of-type:before {
  position: absolute;
  content: "FIFA";
  top: -15px;
  left: 0;
  font-family: "Merriweather", serif;
  font-size: 10px;
  font-weight: 500;
  color: white;
  text-shadow: none;
  width: fit-content;
  height: fit-content;
  background-color: #618e71;
  padding: 1px 6px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
}

main .intro img {
  width: 60px;
  aspect-ratio: 1/2.5;
  z-index: 10;
}

main #timeline_section .list_numbers {
  padding: 50px 2px;
  margin: auto;
  text-align: center;
}

main #timeline_section .list_numbers ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  gap: 4px;
}

main #timeline_section .list_numbers ul li {
  font-size: 18px;
  font-weight: bold;
  color: var(--font-color-primary);
  border: 3px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.8s ease;
}

main #timeline_section .list_numbers ul li:hover {
  color: white;
  background-color: var(--primary-color);
}

main #timeline_section .list_numbers ul li a {
  display: inline-block;
  padding: 20px;
  width: 60px;
}

    /* -<<< timeline-container >>>- */

#container main .timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  margin: auto;
  gap: 60px;
}

#container main .timeline-container hr {
  z-index: 15;
  width: 250px;
  height: 3px;
  background: transparent;
}

#container main .timeline-container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 300px;
  height: 350px;
  text-align: justify;
  border-radius: 20px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  z-index: 10;
}

.card:before, .card:after{
  position:absolute;
  content:"";
  bottom:5px;
  top:80%;
  width:50%;
  background: rgba(240 255 255 / 0%);
  box-shadow: 0 13px 13px rgb(131 131 131 / 65%);
  transform: rotate(360deg);
  z-index: 10;
}

.card:before {
  left:1px;
  border-bottom-left-radius: 20px;
}

.card:after{
  right: 1px;
  border-bottom-right-radius: 20px;
}

#container main .timeline-container .card .card_topside {
  position: relative;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  flex-basis: 70%;
}

#container main .timeline-container .card .card_topside::before {
  position: absolute;
  content: attr(data-number);
  top: -20px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  transform: translateX(-50%) rotate(8deg);
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 2px #ffffff, inset 0 -2px 4px rgb(0, 0, 0, 0.2);
  background: linear-gradient(60deg, rgb(215 216 170 / 100%), 
                                      rgb(96 98 0 / 39%));
  background-size: 40px 40px;
  border-top: 3px double #c0c595;
  border-bottom: 3px double #c0c595;
}

#container main .timeline-container .card .card_topside h1 {
  color: rgb(183 167 47);
  text-shadow: 1px 1px 0 #030300, -1px -1px 0 #fff07f;
  font-size: 65px;
}

#container main .timeline-container .card .card_underside {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background-color: azure;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  flex-basis: 30%;
}

#container main .timeline-container .card .card_underside::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 60%;
  background-color: #999;
  z-index: 10;
}

#container main .timeline-container .card .card_underside span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#container main .timeline-container .card .card_underside span svg {
  fill: black;
}


/*  ____________________ mobile ______________________ */

@media (max-width: 767px) {
  main .intro img {
    width: 40px;
  }

  #container main .timeline-container .card {
    width: 250px;
    height: 300px;
  }

  #container main .timeline-container .card .card_topside {
    padding: 20px 10px;
  }

  #container main .timeline-container .card .card_underside {
    padding: 20px 10px;
  }

  #container main .timeline-container .card .card_underside span {
    font-size: 16px;
  }
}



@media (max-width: 484px) {
  main .intro img {
    width: 30px;
  }

  #container main .timeline-container .card {
    width: 200px;
    height: 250px;
  }

  #container main .timeline-container .card .card_topside {
    padding: 10px 5px;
  }

  #container main .timeline-container .card .card_underside {
    padding: 10px 5px;
  }

  #container main .timeline-container .card .card_underside span {
    font-size: 14px;
  }

  #container main .timeline-container .card .card_underside span svg {
    width: 20px;
  }
}